<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
       <link rel="stylesheet" href="style.css">

       <!-- Compiled and minified JavaScript -->

    </head>
    <body>

        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Final Compiladores Rina</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- <ul class="right hide-on-med-and-down"> -->
                    <!-- <li><a class="modal-trigger" href="#modal1">Historial</a></li> -->
                    <!-- <li><a href="#!" onclick="app.sort = 'result'">Ordenar por Resultado</a></li> -->
                    <!-- <li><a class="modal-trigger" href="#modal2">Condiciones</a></li> -->
                <!-- </ul> -->
            </div>
        </nav>

        <div id="app" class="container">
            <input type="text" id="expression-input" v-model="code">
            <div class="variables">
                <center>
                    <button @click="code += String.fromCharCode(64 + i); focusinput()" class="waves-effect waves-light" v-for="i in 26" style="padding: 5px 9px; margin: 2px; border-radius: 20px;" >
                        {{String.fromCharCode(64 + i)}}
                    </button>
                </center>
            </div>
            <hr>
            <div class="operadores">
                <center>
                    <button @click="code += key; focusinput()" class="waves-effect waves-light" v-for="(i, key) in {'∧' : 'AND', '∨' : 'OR', '⊕': 'XOR', '→': 'IF THEN', '↔' : 'IF CONDITIONAL', '¬': 'NEGATE', '(': '(',')': ')'}" style="padding: 5px 9px; margin: 2px; border-radius: 20px;" >
                        {{i}}
                    </button>
                </center>
            </div>
            <hr>
            <center>
            <button @click="code = code.substr(0, code.length - 1)" class="waves-effect waves-light" style="width:48%; padding: 5px 9px; margin: 2px; border-radius: 20px;" >
                DELETE LAST
            </button>
            <button @click="code = ''" class="waves-effect waves-light" style="width:48%; padding: 5px 9px; margin: 2px; border-radius: 20px;" >
                CLEAR TEXTBOX
            </button>
            </center>
            <hr>
            <button class="waves-effect waves-light main-f-b" @click="run()">Generate Thruth Table</button>

            <div class="table" v-if="results && results.vars" style="margin: 50px 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th v-for="h in results.vars">
                                {{h}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(r, i) in results.values[results.vars[0]]">
                            <td v-for="g in results.vars" :style="{background: results.values[g.split` `.join``][i]? '#4caf50' : '#f44336'}">
                                {{results.values[g.split` `.join``][i]? "T" : "F"}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript" src="index.js?v=5"></script>
        <script type="text/javascript" src="Compilador.js?v=5"></script>

    </body>
</html>
